*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #63BFE7;
}

header{
    position: absolute;
    width: 1000px;
    height: 44px;
    left: 10px;
    top: 280px;
    border:solid thin red;
}

.Hero{
    position: absolute;
    width: 1280px;
    height: 260px;
    left: 0px;
    top: 0px;
}

.Hero img{
    width: 100%;
    height: 100%;
}